#reordenable tr {
    cursor: move;
}

.contenedor-totales{
    display: flex;
    justify-content: space-around;
    font-size: 2.6rem;
    text-align: center;
}

.activo{
    color: blue;
}

.pasivo {
    color: red;
}

